.post-dp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: contain;  
}
.post-wrapper {
  padding: 15px;
  width: 100%;
}

.post {
  border-radius: 10px;
  background-color: white;
  margin: 20px 20px;
  display: flex;
}

.post-img {
  margin-top: 15px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-userinfo {
  gap: 10px;
  font-size: 14px;
  color: #555;
}

.post-date {
  font-weight: 400;
  color: gray;
  font-size: 12px;
  margin-left: 7px;
}

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.post-like-counter {
  font-size: 13px;
}
.post-likes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-comments {
  font-size: 13px;
}

.post-like,
.post-heart {
  height: 24px;
  width: 24px;
}

.post-text {
  margin-top: 10px;
}
