.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 20px 0 20px;
}

.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthday-text {
  font-weight: 300;
  font-size: 15px;
  color: black; 
}

.rightbar-ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbar-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: black;
}

.rightbar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar-info {
  margin-bottom: 30px;
}

.rightbar-info-item {
  margin-bottom: 10px;
}

.rightbar-info-key {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbar-info-value {
  font-weight: 300;
  color: black;
}

.rightbar-followings {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.rightbar-following {
  width: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.rightbar-following-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbar-following-name {
  color: black;
}
