.online-frnds-wrapper {
  margin-bottom: 10px;
}

.online-frnds {
  list-style: none;
  padding: 0;
  margin: 0;
}

.online-frnd {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative; /* Needed for the badge to be placed correctly */
  padding-left: 5px;
}

.online-frnd-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.online-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 26px; /* slightly to the right of the image */
  border: 2px solid white;
}

.online-frnd-name {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
