.profile {
  display: flex;
}

.profile-right {
  flex: 9;
}

.profile-cover {
  height: 320px;
  position: relative;
}

.profile-cover-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profile-user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 180px;
  border: 3px solid white;
  z-index: 2;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  margin-top: 2px;
}

.profile-info-desc {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  max-width: 80%;
  text-align: center;
}

.profile-right-bottom {
  display: flex;
}

.profile-user-img {
  top: 170px;
}
